<% if @post.errors.any? %>

  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
 
    <ul>
    	<% @post.errors.full_messages.each do |msg| %>
      		<li><%= msg %></li>
    	<% end %>
    </ul>
  </div>
<% end %>

<div class = "container">
	<div id = "page_wrapper">
		<br>
			<h2>Submit Paper Presentation</h2>	
		<hr>
		
		<%= form_for @post do |f| %>
		<br>
			<div class="field">
				<th>Title of Presentation</th>
			    <br><%= f.text_field :title, :required => true %> 
			</div>

			<div class="field">
				<th>Conference Name</th>
				<br><%= f.text_field :subtitle, :required => true %>
			</div>

			<div class="field">
				<th>Author(s)</th><em> If more than one (1), separate names with commas. </em>
				<br><%= f.text_field :all_authors, :required => true%>
			</div>
			
			<div class="field">
				<th>Location of Presentation</th>
				<br><%= f.text_field :location, :required => true %>
			</div>

			<div class="field">
				<th>Date of Presentation</th>
				<br><%= f.date_field :date_of_presentation, :required => true %>
			</div>

			<div class="field">
				<th>Link to Main Paper</th>
				<br><%= f.text_field :url, :required => true %>
			</div>

			<div class="field">
				<th>Upload Abstract</th><br>
				<em>(Please make sure files is in PDF format) </em>
				<br><%= f.file_field :abstract, :required => true %>
			</div>

			<div class="field">
				<th>Upload Short Paper</th><br>
				<em>(Please make sure files is in PDF format) </em>
				<br><%= f.file_field :short_paper %>
			</div>

			<div class="field">
				<th>Upload Full-Paper</th><br>
				<em>(Please make sure files is in PDF format) </em>
				<br><%= f.file_field :full_paper %>
			</div>

			<div class="field">
       			<th>Related Tags</th><br>
       			<em>(Separate tags with a comma)</em><br>
       			<%= f.text_field :all_tags %>
   			</div>

			<div class="field">
				<th>Privacy</th>
				<em>(Making your post private means only you could see it.)</em>
				<br> <%= f.radio_button :privacy, true %>Private <t><t>
					 <%= f.radio_button :privacy, false %>Public
			</div>

			<%= f.hidden_field :paper_type, :value => 3 %>

			
			<br>
			<div class="actions">
				<%= f.submit "Save" %>
			</div>

			<div class="actions">
				<a href="/../../../../"> Cancel </a>
			</div>
			
		<% end %>
	</div>
</div>
