<br><br><br><br><br><br>
<center>
<table>
	<tr>
		<td><a href="../../posts/<%= current_user.id %>/thesis" style="height:50px;width: 200px; text-align: center; display: inline-block;" class="btn btn-primary"> Thesis/Dissertation</a></td>

		<td><a style="height:50px;width: 200px; text-align: center; display: inline-block;" class="btn btn-primary" href="../../posts/<%= current_user.id %>/conference_proceeding">Conference Proceeding</a></td>

		<td><a style="height:50px;width: 200px; text-align: center; display: inline-block;" class="btn btn-primary" href="../../posts/<%= current_user.id %>/paper_presentation">Paper Presentation</a></td>

		<td><a style="height:50px;width: 200px; text-align: center; display: inline-block;" class="btn btn-primary" href="../../posts/<%= current_user.id %>/poster_presentation">Poster Presentation</a></td>

		<td><a style="height:50px;width: 200px; text-align: center; display: inline-block;" class="btn btn-primary" href="../../posts/<%= current_user.id %>/magazine">Magazine</a></td>

	</tr>

	<tr>
		<td><a style="height:50px;width: 200px; text-align: center; display: inline-block;" class="btn btn-primary" href="../../posts/<%= current_user.id %>/scholarly_book">Scholarly Book</a></td>

		<td><a style="height:50px;width: 200px; text-align: center; display: inline-block;" class="btn btn-primary" href="../../posts/<%= current_user.id %>/edited_book">Edited Book</a></td>

		<td><a style="height:50px;width: 200px; text-align: center; display: inline-block;" class="btn btn-primary" href="../../posts/<%= current_user.id %>/chapter_in_edited_book">Chapter in Edited Book</a></td>

		<td><a style="height:50px;width: 200px; text-align: center; display: inline-block;" class="btn btn-primary" href="../../posts/<%= current_user.id %>/newspaper_article">Newspaper Article</a></button></td>

		<td><a style="height:50px;width: 200px; text-align: center; display: inline-block;" class="btn btn-primary" href="../../posts/<%= current_user.id %>/broadcast">Film/Broadcast</a></button></td>
	</tr>

	<tr>
		<td><a style="height:50px;width: 200px; text-align: center; display: inline-block;" class="btn btn-primary" href="../../posts/<%= current_user.id %>/computer_science">Computer Science</a></button></td>

		<td><a style="height:50px;width: 200px; text-align: center; display: inline-block;" class="btn btn-primary" href="../../posts/<%= current_user.id %>/artwork">Artwork</a></button></td>

		<td><a style="height:50px;width: 200px; text-align: center; display: inline-block;" class="btn btn-primary" href="../../posts/<%= current_user.id %>/music">Music</a></button></td>

		<td><a style="height:50px;width: 200px; text-align: center; display: inline-block;" class="btn btn-primary" href="../../posts/<%= current_user.id %>/blog">Blog</a></button></td>

		<td><a style="height:50px;width: 200px; text-align: center; display: inline-block;" class="btn btn-primary" href="../../posts/<%= current_user.id %>/journal">Journal</a></button></td>
	</tr>
</table>
</center>